<div style="
  font-weight:bold;
  font-size: 38px;
  text-align: center;
  ">
  {{ page.title }}
</div>

{% schema %}
  {
    "name": "About Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}