<div style="
  font-weight:bold;
  font-size: 38px;
  text-align: center;
  ">
  {{ page.title }}

  {{ page.content }}

</div>

{% schema %}
  {
    "name": "About Us",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}