<h3 style="
  text-align: {{ section.settings.position }}">
  {{ section.settings.text }}
</h3>

{% schema %}
  {
    "name": "Position Text",
    
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Enter Your Text Here",
        "default": "Section Text"
      },
      {
        "type": "select",
        "id": "position",
        "label": "Position Your Text",
        "options": [
          {
            "label": "left",
            "value": "left"
          },
          {
            "label": "center",
            "value": "center"
          },
          {
            "label": "right",
            "value": "right"
          }
          ],
        "default": "left"
      }
    ],
    "presets": [
      {
        "name": "Position Text",
        "category": "text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}