<h3>{{ section.settings.text }}</h3>
<div class="social-media-icons" style="display:flex;gap:24px; border-radius:50%; justify-content: center;">
  <a href="{{ section.settings.instagram_link }}"><i class="fab fa-3x fa-instagram"></i></a>
  <a href="{{ section.settings.facebook_link }}"><i class="fab fa-3x fa-facebook"></i></a>
  <a href="{{ section.settings.etsy_link }}"><i class="fab fa-3x fa-etsy"></i></a>
</div>


{% schema %}
  {
    "name": "Social media links",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Section Head",
      "default": "Section Head"
    }
    ,{
      
      "type": "text",
      "id": "instagram_link",
      "label": "Instagram Link"
      
    },
    {
      "type": "text",
      "id": "facebook_link",
      "label": "Facebook Link"
      
    },
    {
      "type": "text",
      "id": "etsy_link",
      "label": "Etsy Link"
      
    }
  ],
  "presets": [
    {
      "name": "Social media links",
      "category": "Social"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}