<div class="social-media-icons">
  <a href="{{ section.settings.instagram_link }}"><i class="fab fa-3 fa-instagram"></i></a>
  <a href="{{ section.settings.facebook_link }}"><i class="fab fa-3 fa-facebook"></i></a>
  <a href="{{ section.settings.etsy_link }}"><i class="fab fa-3 fa-etsy"></i></a>
</div>


{% schema %}
  {
    "name": "Social media links",
  "settings": [
    {
      "type": "text",
      "id": "instagram_link",
      "label": "Instagram Link"
      
    },
    {
      "type": "text",
      "id": "facebook_link",
      "label": "Facebook Link"
      
    },
    {
      "type": "text",
      "id": "etsy_link",
      "label": "Etsy Link"
      
    }
  ],
  "presets": [
    {
      "name": "Social media links",
      "category": "Social"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}